@import '../../../assets/styles/variables/variables';
@import '../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints';

//theming

// sexhealth
.sexhealth {
    .page-heading-shelf.sexhealth-page-heading-shelf {
        .shelf__container {
            background-color: initial;
            color: $white;
            text-align: left;
            font-size: 16px;

            h1 {
                font-size: 2em;
            }

            .shelf__col {
                margin: 0 40px;
                max-width: 48%;
            }
        }

        @media (min-width: 768px) {
            .container, .page-heading-shelf .container-fluid {
                padding-bottom: 0.6em;
            }
        }
    }
}