version: '2'

services:

  oneyou-cms-test:
    build:
      context: .
      dockerfile: ./TestDockerFile
    environment:
      ENV: test
      DJANGO_SETTINGS_MODULE: oneYou2.settings.test
      AZURE_ACCOUNT_NAME: "test"
      AZURE_ACCOUNT_KEY: "test"
      AZURE_CONTAINER: "test"
      AZURE_FILE_SHARE: "test"
      CONTENT_STORE_ENDPOINT: ""
      ADOBE_TRACKING_URL: ""
      ADOBE_DATALAYER_URL: ""
    command: bash -c "python manage.py migrate && coverage run manage.py test && coverage report --fail-under=65"
