@font-face {
  font-family: 'OneYouSansBold';
  src: url('./fonts/one_you-sans-bold.eot');
  src: url('./fonts/one_you-sans-bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/one_you-sans-bold.woff2') format('woff2'),
  url('./fonts/one_you-sans-bold.woff') format('woff'),
  url('./fonts/one_you-sans-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OneYouSansRegular';
  src: url('./fonts/one_you-sans-regular.eot');
  src: url('./fonts/one_you-sans-regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/one_you-sans-regular.woff2') format('woff2'),
  url('./fonts/one_you-sans-regular.woff') format('woff'),
  url('./fonts/one_you-sans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OneYouScriptBold';
  src: url('./fonts/one_you-script-bold.eot');
  src: url('./fonts/one_you-script-bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/one_you-script-bold.woff2') format('woff2'),
  url('./fonts/one_you-script-bold.woff') format('woff'),
  url('./fonts/one_you-script-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}