@import '../../../assets/styles/variables/variables';
@import '../../../assets/styles/variables/icons';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.recipe-block {

  @include media-breakpoint-up(sm) {
    &.container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  h1,
  h2, h2 + div > p {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
  }

  p + h3 {
    margin-top: 1em;
  }

  div > p:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-family: $secondary-brand-font;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: upperCase;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0.2em;
    }
  }

  ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 1.5em;

    li {
      margin-left: 0;
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .recipe__tags__item {
    background-color: $grey-brown-dark;
    color: $sunflower-yellow;
    display: inline-block;
    padding: 0.5em;
    margin: 0 0.5em 0.5em 0;

    &:last-child {
       margin-right: 0;
    }
  }
}


.recipe__header {
  font-family: $secondary-brand-font;
  font-weight: normal;
  margin-bottom: 0.2em;
  text-transform: upperCase;

  @include media-breakpoint-up(sm) {
    margin-bottom: 0.5em;
  }
}

.recipe__tags, .recipe__ingredients {
  padding-bottom: 1em;
}

ul.recipe__tags {
  margin: 0;
  padding: 0 0 0.3em;
  list-style: none;
}

.recipe__ingredients {

   ul {
     margin: 0;
   }

   li {
     padding-left: 0.5em;
   }
}

.recipe__summary {
  display: flex;
  padding-bottom: 1.2em;
}

.recipe__summary__item {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 0.5em;
  padding: 1em 0.5em 0.5em;

  &:last-child {
    margin-right: 0;
  }

  p {
    margin-top:  auto;
  }
}

.recipe__summary__header {

  font-size: 2.2em;

  @include media-breakpoint-up(sm) {
    font-size: calc(1.25 * 2.1em);
  }

  font-family: $secondary-brand-font;
  font-weight: normal;
  margin-bottom: 0.4em;
}

.recipe__summary__plate {
  position: relative;

  &:after {
    @extend %icon-dinner-plate;
  }
}

.oneyou {

  .recipe-page {

    h2, .recipe__header {
      color: $teal-blue;
    }

    .recipe__summary__item {
      background: $teal-blue;
      color: $white;
    }
  }
}
