@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.article-page-heading-shelf {

  h1 {
    @include heading-h2()
    text-transform: uppercase;
    font-family: $secondary-brand-font;
    font-weight: normal;
    text-align: center;
    color: $teal-blue;
    margin: 0;
  }

  .shelf__backbutton {
    position: absolute;
    left: 0;
    font-size: calc(0.75 * #{$h2});
    font-family: $secondary-brand-font;
    font-weight: normal;
    line-height: 2em;
    padding-left: 1.75em;
    text-decoration: none;
    color: $grey-brown-dark;

    &:before {
      position: absolute;
      @extend %icon-chevron-left;
      color: $grey-brown-dark;
      left: 0;
      padding: 0 0.5em;
      font-size: 1.25em;
    }
  }
}
