@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

// generic styles

$arrow-distance: 4%;

.carousel-shelf * {
  min-height: 0;
  min-width: 0;
}

.carousel {
  
  .shelf-section {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    
    > div.shelf, div.shelf__container {
      height: 100%;
    }
  }
  
  .shelf__container {
    padding-top: 1.4em;
    padding-bottom: 1em;
    
    @include media-breakpoint-up(sm) {
      padding-top: 1.2em;
      padding-bottom: 2em;
    }
    
    @include media-breakpoint-up(md) {
      padding-left: 5%;
      padding-right: 5%;
    }
    @include media-breakpoint-up(xl) {
      padding-left: inherit;
      padding-right: inherit;
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: 0.5em;
  margin: 0 !important;
  padding: 0 !important;
  
  @include media-breakpoint-up(sm) {
    bottom: 1em;
  }
}

.carousel__row {
  position: relative;
  z-index: 0;
}

.slick-dots li {
  margin: 0 3px;

  @include media-breakpoint-up(sm) {
    margin: 0 10px;
  }
}

.slick-dots li button::before {
  font-size: 11px;
  color: $white;
  opacity: 1;
  
  @include media-breakpoint-up(sm) {
    font-size: 24px;
  }
}

.slick-dots li.slick-active button:before {
  color: $sunflower-yellow;
  opacity: 1;
}

.slick-next {
  
  @include media-breakpoint-up(sm) {
    right: $arrow-distance;
    z-index: 1;
    height: 40px;
    width: 40px;
  }
}

.slick-prev {
  
  @include media-breakpoint-up(sm) {
    left:  $arrow-distance;
    z-index: 1;
    height: 40px;
    width: 40px;
  }
}

.slick-list, .slick-track {
  height: 100%;
}

// specific styles
.carousel-full {
  
  .slick-next:before {
      @extend %icon-chevron-right;
  }
  
  .slick-prev:before {
      @extend %icon-chevron-left;
  }
  
  .slick-prev:before,
  .slick-next:before {
      color: $white !important;
      opacity: 1;
      
      @include media-breakpoint-up(sm) {
        font-size: 40px;
      }
  }
  
  .slick-next:hover:before,
  .slick-prev:hover:before {
    color: $sunflower-yellow !important;
  }
  
  .container {
    
    @include media-breakpoint-up(sm) {
      padding-left: 2.5em;
      padding-right: 2.5em; 
    }  
    
    @include media-breakpoint-up(xl) {
      padding-left: 1em;
      padding-right: 1em; 
    } 
  }
}
