@import "../../assets/styles/variables/variables";
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

hr {
    box-sizing: border-box;
    height: 3px;
    border: 2px solid #138585;
    margin: 0px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
}