@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.basic-grid-shelf .grid-container {
  transition-property: max-height;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: linear;
  overflow: hidden;
}

.basic-grid-shelf {

  .shelf__col {

    @include media-breakpoint-up(md) {
      padding-bottom: 1em;

      &.col-sm-12:last-child {
        padding-bottom: 0.5em;
      }

      &.col-md-6:nth-last-child(2) + .shelf__col {
        padding-bottom: 0.5em;
      }

      &.col-md-6:nth-last-child(2):nth-child(odd) {
        padding-bottom: 0.5em;
      }

      &.col-md-4:nth-last-child(4) + .shelf__col {
        padding-bottom: 0.5em;
      }

      &.col-md-4:nth-last-child(3) + .shelf__col {
        padding-bottom: 0.5em;
      }

      &.col-md-4:nth-last-child(3):nth-child(odd) {
        padding-bottom: 0.5em;
      }
    }
  }
}

.basic-grid-shelf .image-set {
  padding-top: 1.4em;
  padding-bottom: 2em;
  background-repeat: no-repeat;
  
  @include media-breakpoint-up(md) {
    padding-top: 3em;
  }
}

.basic-grid-shelf .image--cover {
  background-size: cover;
  background-position: center;
}

.basic-grid-shelf .image-set {
  color: #fff;
  
  h1, h2 {
    color: #fff;
  }
}

.basic-grid-shelf--teal_background {
  
  @include media-breakpoint-up(md) {  
    padding: 2em 0 1.5em; 
    background-color: $teal-blue;
    
    h2, h3, h4, p {
      color: $white;
    }
  }
}

.basic-grid-shelf--yellow_background {
  padding: 2em 0 1.5em; 
  background-color: $sunflower-yellow;
  border: 3px solid $red;
  border-left: 0;
  border-right: 0;
  
  h2, h3, h4, p {
    color: $black;
  }  
}

//theming
.campaign {
  
  .shelf-section:first-child {
    h2 {
      @include heading-h1(campaign);
    }
  }

  h2 {
    @include heading-h2(campaign);
  }
}

