@import '../../assets/styles/variables/variables';
@import '../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints';

// generic styles

$arrow-distance: 9%;

.panel-carousel-shelf {
  position: relative;
  width: auto;
  padding-bottom: 35px;
  
  .container-fluid {
    position: relative;
      width: auto;
  }
}

.panel-carousel {
  
  .shelf-section {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;

    > div.shelf, div.shelf__container {
      height: 100%;
    }
  }

  .shelf__container {
    padding-top: 1.4em;
    padding-bottom: 1.5em;

    @include media-breakpoint-up(sm) {
      padding-top: 1.2em;
      padding-bottom: 2.5em;
    }

    @include media-breakpoint-up(md) {
      padding-left: 5%;
      padding-right: 5%;
    }
    @include media-breakpoint-up(xl) {
      padding-left: inherit;
      padding-right: inherit;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 0.6em;
    margin: 0 !important;
    padding: 0 !important;

    @include media-breakpoint-up(sm) {
      bottom: 1.2em;  width: auto;
    }
  }

  .slick-dots li {
    margin: 0 3px;
    height: auto;
    width: auto;

    @include media-breakpoint-up(sm) {
      margin: 0 15px 0 0;

      button {
        height: 28px;
        width: 28px;
      }
    }
  }

  .slick-dots li button::before {
    font-size: 14px;
    color: $warm-grey;
    opacity: 1;

    @include media-breakpoint-up(sm) {
      font-size: 28px;
      height: 28px;
      width: 28px;
    }
  }

  .slick-dots li.slick-active button:before {
    color: $teal-blue;
    opacity: 1;
  }

  .slick-next {

    @include media-breakpoint-up(sm) {
     right: -60px;
      z-index: 1;
      height: 40px;
      width: 40px;
    }
  }

  .slick-prev {

    @include media-breakpoint-up(sm) {
      left: -60px;
      z-index: 1;
      height: 40px;
      width: 40px;
    }
  }
}

.carousel__row {
  position: relative;
  z-index: 0;
  display: block;
}

// specific styles
.carousel-panel {

  margin: 0.5em 0 0;

  @include media-breakpoint-up(md) {
    margin: 0.5em 100px 0;
  }
  
  .slick-slide {
    padding: 20px 5px;
    
    @include media-breakpoint-up(md) {
      padding: 30px 10px;
    }
    
    &.slick-center {
      padding-top: 0;
      padding-bottom: 0;
      transform: scale(1); 
      transition: 0.3s all ease;
      
      @include media-breakpoint-up(lg) {
        .image-teaser__info {
          padding-top: 1.5em;
          padding-bottom: 1.5em;
        }
      }
    }
  }

  .slick-dots {
    bottom: -25px;
    width: 100%;
    
    @include media-breakpoint-up(sm) {
      bottom: -45px;
    }
  }

  .slick-next:before {
      @extend %icon-chevron-right;
  }

  .slick-prev:before {
      @extend %icon-chevron-left;
  }

  .slick-prev:before,
  .slick-next:before {
      color: $grey-brown-dark !important;
      opacity: 1;

      @include media-breakpoint-up(sm) {
        font-size: 40px;
      }
  }

  .slick-next:hover:before,
  .slick-prev:hover:before {
    color: $sunflower-yellow !important;
  }

  .container {

    @include media-breakpoint-up(sm) {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}


.oneyou {
  
  .panel-carousel {
    
    .image-teaser {
    
      @include media-breakpoint-down(md) { 
        flex-direction: column;
      }
    }
    
    .image-teaser__image {
      
      @include media-breakpoint-down(md) {
        min-height: 120px;
        height: 35%;
        width: 100%;
        background-position: top center;
      }
      
      @include media-breakpoint-up(lg) {
        min-height: 263px;
      }
    }
    
    .image-teaser__info {
  
      padding-left: 1em;
      padding-right: 1em;
      
      @include media-breakpoint-down(md) { 
        height: 65%;
        width: 100%;
      }
    }
    
    .image-teaser__heading {
      padding-top: 0.9em;
      padding-bottom: 0.9em;  
      font-family: $secondary-brand-font;
      font-weight: normal;
      padding-left: 0;
      padding-right: 0;

      @include media-breakpoint-up(md) { 
        @include heading-h2()
        padding-top: 1em;
        padding-bottom: 1em;
      } 
    } 
   
    .image-teaser__text {  
      padding-top: 0.7em;
      padding-bottom: 0.9em; 
      padding-left: 0;
      padding-right: 0;
     
      @include media-breakpoint-up(sm) { 
        padding-top: 1em;
        padding-bottom: 1em; 
      } 
   
      p { 
        font-weight: normal !important; 
      }   
    }
    
    .image-teaser__heading {   
      padding-bottom: 0; 
      
      @include media-breakpoint-down(sm) { 
        font-size: 1em; 
      } 
    } 
    
    .image-teaser--light-bg { 
     
        .image-teaser__heading {   
          
          @include media-breakpoint-up(lg) {
            padding-top: 0; 
          }
        } 
    }
    
    .image-teaser--dark-bg {
    
      .image-teaser__heading { 
        background-color: inherit;
      }
    }
  }
}
