@import "../../assets/styles/variables/variables";
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$shelf-padding-standard: 1em;
$shelf-padding-extra: 2em;

.shelf__header {
  color: $teal-blue;
  font-size: $h2;
}

.shelf__placeholder {
  background-color: #e4e4e4;
  border: 1px solid #c8c8c8;
  padding: 12px;
  text-align: center;
}

.shelf-section {
  padding: 2em 0;

  &:nth-child(odd) {
    background: $light-grey;
  }
}

.shelf__col {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
  h1 + p,
  h2 + p {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.shelf__header {
  font-family: $secondary-brand-font;
  font-weight: normal;
  margin-bottom: 0.2em;
  
  @include media-breakpoint-up(sm) {
    margin-bottom: 0.5em;
  }
}

.section-heading-shelf h2 {
    font-family: $secondary-brand-font;
    font-weight: normal;
}

//theme
.oneyou {
  
  .shelf {
    
    h2 {
    color: $teal-blue;
    }
  }
}

.guidance-shelf {
  background-color: #fcf4ba;
  border: 1px solid #c8c8c8;
  margin: 0px 40px;
  padding: 12px;
  text-align: center;

  h2 {
    width: 100%;
    margin-bottom: 16px;
    color: #302f25 !important;
  }
  p {
    width: 100%;
    text-align: center;
  }
}
