@import '../../assets/styles/variables/variables';

.shelf__header{
  color: $teal-blue;
  font-size: $heading-h2;
}

.shelf__placeholder {
  background-color: #e4e4e4;
  border: 1px solid #c8c8c8;
  padding: 12px;
  text-align: center;
}
