@import "../../assets/styles/variables/variables";
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$shelf-padding-standard: 1em;
$shelf-padding-extra: 2em;

.slick-arrow:before {
  color: green !important;
}

.slide1 {
    background-color: red;
    padding: 20px;

    h3 {
      background-color: green;
    }
}

.shelf__header {
  color: $teal-blue;
  font-size: $h2;
}

.shelf__placeholder {
  background-color: #e4e4e4;
  border: 1px solid #c8c8c8;
  padding: 12px;
  text-align: center;
}

.shelf-section {
  padding: 2em 0;
  
  &:nth-child(odd) {
    background: $light-grey;
  }
}

.shelf__col {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
  h2 + p {
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
    
  p:last-child {
    margin-bottom: 0;
  }
}

.guidance-shelf {
  background-color: #a2ffa9;
  border: 1px solid #c8c8c8;
  margin: 0px 40px;
  padding: 12px;
  text-align: center;

  h2 {
    width: 100%;
    margin-bottom: 16px;
  }
  p {
    width: 100%;
    text-align: center;
  }
}

.carousel-shelf *{
  min-height: 0;
  min-width: 0;
}