@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";


.video-teaser {
  display: flex;
}

.video-teaser__image {
  width: 35%;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  min-height: 176px;

  @include media-breakpoint-up(sm) {
    min-height: 263px;
  }
}

.video-teaser__info {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.video-teaser__heading {
  padding: 1em;
}

.video-teaser__text {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 100%;
  
  p {
    margin-bottom: 1em;
  }

  a {
    margin-top: auto;
  }
}

// theming
.oneyou {
  
  .video-teaser__info {
      background: $teal-blue;
  }

  .video-teaser__heading {
    background-color: $teal-dark;
    color: $white;
  }

  .video-teaser__text {
    color: $white;
    
    a {
      color: $sunflower-yellow;
      font-weight: bold;
    }
  }
}
