{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{% blocktrans with title=release.get_admin_display_title %}Release: {{ release.release_name }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% trans "Release of" as revisions_str %}
    {% include "wagtailadmin/shared/header.html" with title=revisions_str subtitle=release.get_admin_display_title icon="doc-empty-inverse" %}

    <div class="nice-padding">
        <div id="revision-results" class="revisions">
            <table class="listing">
                    <col width="100%" />
                    {% comment %}
                    <thead>
                        <tr>
                            <th><a href="{% url 'wagtailadmin_pages:revisions_index' page.id %}?ordering={% if ordering == "created_at" %}-{% endif %}created_at" class="icon icon-arrow-{% if ordering == "created_at" %}up-after{% elif ordering == "-created_at" %}down-after{% else %}down-after{% endif %} {% if ordering == "created_at" or ordering == "-created_at" %}teal{% endif %}">{% trans 'Revision date' %}</a></th>
                        </tr>
                    </thead>
                    {% endcomment %}
                    <tbody>
                        {% if release %}
                            {% for page in pages.values %}
                                {% if page.status != "unchanged" %}
                                    <tr>
                                        <td class="title">
                                            <h2>
                                                <span>{{ page.title }}</span>
                                                <span>{{ page.created_at }}</span>
                                                <span>{{ page.status }}</span>
                                                {% comment %}
                                                <span class="unbold">
                                                    {% trans 'by' context 'points to a user who created a revision' %}<span class="avatar small"><img src="{% avatar_url revision.user size=25 %}" /></span>{{ revision.user }}
                                                </span>
                                                {% endcomment %}
                                            </h2>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% block no_results %}<tr><td class="no-results-message"><p>{% trans error_msg %}</p></td></tr>{% endblock %}
                        {% endif %}
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}