@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.accordion-group__container {
  padding-left: 0;
  padding-right: 0;
}

.accordion-group__container .accordion-item__sub-container {
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.accordion-item {
  margin-bottom: 1px;
  
  @include media-breakpoint-up(sm) {
    margin-bottom: 2px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion-item_wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.accordion-item__header {
  background-color: $teal-blue;
}

.accordion-item__header {
  
  h2 { 
    color: $white;
    font-family: $secondary-brand-font;
    font-weight: normal;
    position: relative;
    padding: 0.5em 0;
    cursor: pointer;
  
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: inherit;
      font-size: 2em;
      color: $white;
    }
  }
  
  &.accordion-item__header--expanded {
    h2 {
      &:after {
        @extend %icon-chevron-up;
      }
    }
  }
  
  &.accordion-item__header--collapsed {
    h2 {
      &:after {
        @extend %icon-chevron-down;
      }
    }
  }
}

.accordion-item__body {
  transition: max-height 0.5s;
  transition: padding 0.5s;
  overflow: hidden;
}

.accordion-item__body.accordion-item__body--expanded {
  padding-top: 1em;
  max-height: 1400px;
}

.accordion-item__body--collapsed {
  max-height: 0;
  padding-top: 0;
}


//theming

//sexhealth
.sexhealth {
  .accordion-item {
    padding-top: 0em;
    padding-bottom: 0em;
  }

  .accordion-item__header {
    background-color: $white;
    border-bottom: 1px solid $sexhealth-lightgrey;
    font-family: $sexhealth-bold-font;

    h2 { 
      font-size: 1.15em;
      &:after {
        font-size: 1em;
        color: $sexhealth-dark;
        float: right;
        font-family: inherit;
        position: inherit;
      }
    }

    h2.accordion-item__sub-container {
      padding: 0.5em 0 !important;
    }
    
    &.accordion-item__header--expanded {
      h2 {
        &:after {
          @extend %icon-sexhealth-minus;
        }
      }
    }
    
    &.accordion-item__header--collapsed {
      h2 {
        &:after {
          @extend %icon-sexhealth-plus;
        }
      }
    }
  }

  h2.accordion-item__sub-container {
    border-bottom: 2px solid #ccc;
  }

  .accordion-item__body {
    padding: 0;
  
    p {
      font-weight: normal;
    }
  }

  .accordion-item__body--expanded {
    padding-top: 1em;
    padding-bottom: 1.5em;
    div {
      width: 100%;
    }
  }
}