@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.app-teaser {
  display: flex;
  background-color: #f0eff4;
}

.app-teaser__heading {
  font-family: $secondary-brand-font;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.app-teaser__image {
  width: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 176px;
  
  .child-image--contain & {
    background-size: contain;
    background-position: top left;
  }
  
  @include media-breakpoint-up(sm) {
    min-height: 263px;
  }
}

.app-teaser__info {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 1.2em 1em; 
  
  p {
    margin-bottom: 1em;
  }

  .cta-list {
    margin: 2em 0 0;
  }
}

.app-teaser__app-button-list {
  
  .shelf-section & {
    display: flex;
    margin: 2em 0 0 0;
    padding: 0;
    list-style-type: none;
    
    li {
      width: 50%;
      height: 28px;
      
      @include media-breakpoint-up(sm) { 
        height: 40px;
      }
      
      @include media-breakpoint-up(md) { 
        height: 25px;
      }
      
      @include media-breakpoint-up(lg) { 
        height: 35px;
      }
      
      @include media-breakpoint-up(xl) { 
          height: 45px;
      }
      
      &:first-child {
        margin-right: 1em;
      }
    }
  }
}

.app-teaser__button-list {
  
  .shelf-section & {
    display: flex;
    margin: 2em 0 0 0;
    padding: 0;
    list-style-type: none;
  }
}

a.button-appstore {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

a.button-googleplay {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat; 
}
