@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.simple-service-finder {
    color: $black;
}

//theming

//sexhealth
.sexhealth {
    color: $white;
    .simple-service-finder {
        input {
            width: 100%;
            margin-bottom: 15px;
            border: 0;
            padding: 8px 10px;
        }
        button {
            color: $white;
            background-color: $sexhealth-pink;
            margin-bottom: 0;
            padding: 5px 0;
            width: 100%;
            border: 2px solid $sexhealth-pink;
            cursor: pointer;
        }

        button:hover {
            background-color: transparent;
            color: $sexhealth-pink;
        }

        button:last-child {
            margin-top: 15px;
        }

        p {
            margin-bottom: 15px;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        fieldset {
            border: none;
            padding: 0;
        }

        background-color: $black;
        color: $white;
        margin: 0 0 0 -15px;
        padding: 20px;

        @include media-breakpoint-up(sm) {
            margin: 0;
        }
    }
}