@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

ul.simple-list, ol.simple-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.simple-list__item {
  display: flex;
  line-height: auto;
  border-top : 0.5em solid $page-background;
  border-bottom : 0.5em solid $page-background;
  
  &:nth-child(odd) {
  
    .simple-list--2_col_1_on_mobile & {
      
      @include media-breakpoint-up(md) {
        border-right : 0.5em solid $page-background;
      }
    }
  }
  
  &:nth-child(even) {
    
    .simple-list--2_col_1_on_mobile & {
    
      @include media-breakpoint-up(md) {
        border-left : 0.5em solid $page-background;
      }
    }
  }
  
  &:first-child {
    border-top: none;
  }
  
  &:last-child {
    border-bottom: none;
  }
  
  &:nth-child(-n + 2) {
    
    .simple-list--2_col_1_on_mobile & {
      
        @include media-breakpoint-up(md) {
          border-top: none;
        }
    }
  }
    
  &:nth-last-child(-n + 2) { 
    
    .simple-list--2_col_1_on_mobile & {
      
      @include media-breakpoint-up(md) {
        border-bottom: none;
      }
    }
  }

  &:before {
    padding-right: 0.5em;
    align-self: center;
  }
  
  > div {
    align-self: center;
    flex: 1;
  }
}

ul.simple-list li:before {
	content: '\2022';
}

ol.simple-list {
	counter-reset: listitem;
}

ol.simple-list li:before {
  counter-increment: listitem;
  content: counters(listitem, '.') '.';
  width: 2em;
  text-align: right;
}

//theming
//default theme (oneyou)
.simple-list__item--numeric-standard {
  background: $sunflower-yellow;
}

.simple-list__item--bullet-standard {
  background: $sunflower-yellow;
}

.simple-list__item {
  
  font-weight: bold;
  color: $grey-brown-dark;
  
  padding: 1em 1em;
  
  @include media-breakpoint-up(sm) {
    padding: 1em 1.5em;
  }
  
  &:before {
    font-size: 2.6em;
    line-height: 1;
    font-family: $primary-brand-font;
    position: relative;
    color: $teal-blue;
    top: 3px;
  }
}

ol.simple-list {
  .simple-list__item {
    padding-left: 0;
  }
}