// palette
$warm-grey: #868686;
$light-grey: #f3f3f3;
$pink-grey: #bcbcbc;
$dark: #24253d;
$grey-brown: #535353;
$grey-brown-dark: #4a4a4a;
$teal-blue: #00a4a6;
$sunflower-yellow: #ffcc00;
$white: #fff;

$text-primary: $grey-brown-dark;
$text-secondary: $teal-blue;
