// palette
$warm-grey: #868686;
$light-grey: #f3f3f3;
$pink-grey: #bcbcbc;
$dark: #24253d;
$grey-brown: #535353;
$grey-brown-dark: #4a4a4a;
$teal-light: #f2f8f8;
$teal-blue: #138585;
$teal-dark: #316767;
$sunflower-yellow: #ffcc00;
$red: #980f20;
$white: #fff;
$black: #000;
$light-blue: #e0f1f1;

$text-primary: $grey-brown-dark;
$text-secondary: $teal-blue;
