/*
recommended google material icon sizes 

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
*/

.font-icon:after {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

%icon-chevron-left {
  font-family: "Flaticon";
  content: "\f103";
  display: block;
}

%icon-chevron-right {
  font-family: "Flaticon";
  content: "\f100";
  display: block;
}

%icon-chevron-down {
  font-family: "Flaticon";
content: "\f104";
  display: block;
}

%icon-chevron-up {
  font-family: "Flaticon";
  content: "\f101";
  display: block;
}

%icon-hamburger {
  font-family: "Flaticon";
  content: "\f102";
  display: block;
}

%icon-facebook {
  font-family: "Flaticon";
  content: "\f106";
  display: block;
}

%icon-twitter {
  font-family: "Flaticon";
  content: "\f105";
  display: block;
}