/*
recommended google material icon sizes 

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
*/

.font-icon:after {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

%icon-chevron-left {
  font-family: "icomoon";
  content: "\e907";
  display: block;
}

%icon-chevron-right {
  font-family: "icomoon";
  content: "\e908";
  display: block;
}

%icon-chevron-down {
  font-family: "icomoon";
  content: "\e901";
  display: block;
}

%icon-chevron-up {
  font-family: "icomoon";
  content: "\e909";
  display: block;
}

%icon-hamburger {
  font-family: "icomoon";
  content: "\e903";%icon-serach {
  font-family: "icomoon";
  content: "\e900";
  display: block;
}
  display: block;
}

%icon-facebook {
  font-family: "icomoon";
  content: "\e90b";
  display: block;
}

%icon-twitter {
  font-family: "icomoon";
  content: "\e90a";
  display: block;
}

%icon-play {
  font-family: "icomoon";
  content: "\e90c";
  display: block;
}

%icon-plus {
  font-family: "icomoon";
  content: "\e904";
  display: block;
}

%icon-minus {
  font-family: "icomoon";
  content: "\e906";
  display: block;
}

%icon-cross {
  font-family: "icomoon";
  content: "\e905";
  display: block; 
}

%icon-serach {
  font-family: "icomoon";
  content: "\e900";
  display: block;
}

%icon-share {
  font-family: "icomoon";
  content: "\e902";
  display: block;
}
