/*
recommended google material icon sizes 

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
*/

%icon-chevron-left {
  font-family: "Material Icons";
  content: "\E5CB";
  display: block;
}

%icon-chevron-right {
  font-family: "Material Icons";
  content: "\E5CC";
  display: block;
}

%icon-chevron-down {
  font-family: "Material Icons";
  content: "\E5CF";
  display: block;
}

%icon-chevron-up {
  font-family: "Material Icons";
  content: "\E5CE";
  display: block;
}

%icon-hamburger {
  font-family: "Material Icons";
  content: "\E5D2";
  display: block;
}