
//font-size

$font-size-default: 16px;

//headings
$heading-h1: 2.5rem;
$heading-h2: 2.2rem;

//fonts
$primary-brand-font: 'OneYouSansBold', Helvetica, Liberation Sans, Arial, sans-serif;
$secondary-brand-font: 'OneYouSansRegular', Helvetica, Liberation Sans, Arial, sans-serif;
$tertiary-brand-font: 'OneYouScriptBold', Helvetica, Liberation Sans, Arial, sans-serif;

$nav-font: Helvetica, Liberation Sans, Arial, sans-serif;