@import 'colours';
@import 'typography';
@import 'icons';

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  vsm:375px, 
  sm: 576px,
  md: 768px,
  lg: 992px,
  bg: 1200px,
  xl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1150px
);
    
$grid-columns: 12;
$grid-gutter-width-base: 30px;