@import 'colours';
@import 'typography';
@import 'icons';

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px
);

$container-max-widths: (
  sm: 540px,
/*  md: 720px, */
  md: 758px,
  lg: 980px,
  xl: 1180px
);
    
$grid-columns: 12;
$grid-gutter-width-base: 30px;