@import 'colours';
@import 'typography';
@import 'icons';

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;
/*
'x-small': 320px,
'small': 470px,
'medium': 524px,
'large': 768px,
*/