@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.pure-modal-backdrop .video-modal {  
  width: 100%;
  
  .panel-heading .close {
    top: 15px;
    right: 15px;
    line-height: 30px;
    color: #000;
    background-color: #fff;
    opacity: 1;
  } 
  
  .panel-body {
    padding-right: 15px;
    background: #000;
    
    @media screen and (orientation: landscape) {
      @include media-breakpoint-down(md) {
       padding: 0;
      }
    }
  }
  
  .panel-default {
    padding: 1em;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (orientation: landscape) {
      @include media-breakpoint-down(md) {
       padding: 0;
      }
    }
  }
  
  .video-js {
    height: 400px;
    width: 100%;

    &.wirewax {
      height: 80vh;

      @media screen and (orientation: landscape) {
        @include media-breakpoint-down(md) {
          height: 100vh;
        }
      }
    }
  }
}
