Django==1.11.5
django-pyodbc
django-pyodbc-azure==1.11.0.0
wagtail>=1.13,<1.14
python-crontab
wagtailsnippetscopy==0.1.0
django-cors-headers==2.1.0
django-storages
azure==1.0.0
coverage==4.5.1
gunicorn==19.6.0
flake8==3.5.0
django-debug-toolbar==1.9.1
