@import '../../../assets/styles/variables/variables';

.action-plan-shelf {
  font-family: $secondary-brand-font;

  .action-plan-shelf--cta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 20px;

    .button-cta {
      margin-left: 1em;
    }
  }
}