@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.table-shelf {
  margin: 0;
  padding: 0;

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

.table-shelf--standard {
  table {
    caption {
      caption-side: bottom;
      color: $teal-blue;
      font-family: $secondary-brand-font;
      text-transform: uppercase;
      font-size: $h4;
      text-align: left;
      margin: 10px;
    }
  }

  thead {
    color: $white;
    background-color: $teal-blue;

    th {
      font-family: $secondary-brand-font;
      text-transform: uppercase;
      font-size: $h4;
      line-height: $h4 * 1.4;
      font-weight: normal;
      text-align: left;
      border: 0;
      padding: 12px 1em;

      @include media-breakpoint-down(md) {
        font-size: $h4 * 0.8;
        padding: 8px 0.5em;
        text-align: center;
      }
    }
  }

  tbody {
    text-align: left;

    tr {
      background-color: $light-grey;
      border-top: 16px solid $white;

      &:first-child {
        border-top: 8px solid $white;
      }

      td {
        padding: 1em;
        border-right: 2px solid $pink-grey;
        vertical-align: top;

        @include media-breakpoint-down(md) {
          padding: 0.7em;
        }

        &:last-child {
          border: none;
        }
      }
    }

    h4 {
      font-size: $h4;
      font-family: $secondary-brand-font;
      font-weight: bold;
    }
  }
}
