@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.two-column-shelf {
  .shelf__container {
    padding: 0;
    // padding-left: 0px;
    // padding-right: 0px;
  }

  .rich-text-panel {
    padding-left: 1em;
    padding-right: 1em;
  }

  &.two-column-shelf--with_padding {
    .shelf__container {
      padding: 0 0 0.5em 0;

      @include media-breakpoint-up(md) {
        padding: 2em;
      }  
    }
  }

  .column {
    padding: 0;

    @include media-breakpoint-up(md) {
      padding: 1em;
    }
  }

  .column1 {
    padding-bottom: 1em;

    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }
  }
}


// //sexhealth
// .sexhealth {
//   .shelf__container{
//     background-color: $white;
//     padding: 1em;
//   }
// }