@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.two-column-shelf {
  .container {
    // padding-left: 0px;
    // padding-right: 0px;
  }
}


// //sexhealth
// .sexhealth {
//   .shelf__container{
//     background-color: $white;
//     padding: 1em;
//   }
// }