* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }
}

html {
  font-family: $default-font;
  line-height: normal;
  color: $grey-brown-dark;

  font-size: $font-default-mobile;

  @include media-breakpoint-up(sm) {
    font-size: $font-default-desktop;
  }
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: $h1;
  
  @include media-breakpoint-up(sm) {
    font-size: calc(1.25 * #{$h1});
  }
}

h2 {
  font-size: $h2;
  
  @include media-breakpoint-up(sm) {
    font-size: calc(1.2 * #{$h2});
  }
}

.h1 {
  font-size: $h1 !important;
}


.h2 {
  font-size: $h2 !important;
}

h3 {
  font-size: $h3;
}

.h3 {
  font-size: $h3 !important;
}

ol, ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

.button-cta {
  padding: 1em;
  font-weight: bold;
  box-shadow: 0 5px 4px 0 rgba(0,0,0,0.27);
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;

  &:active {
    transform: translateY(1px);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.27);
  }
}

a.button-cta {
  text-decoration: none;
  display: inline-block;
}

a.button-appstore {
  display: inline-block;
  background-image: url('../images/app-store.png');
}

a.button-googleplay {
  display: inline-block;
  background-image: url('../images/google-play.png');
}

.shelf-section ul {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 40px; 
  
  li {
    margin-left: 0;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.shelf-section ol {
  list-style-type: decimal;
  margin: 1em 0;
  padding-left: 40px;
  
  li {
    margin-left: 0;
  }
  
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

a {
  color: $teal-blue;
  
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  
  &:active {
    background-color: $teal-blue;
    color: $white;
  }
  
  &:visited {
    color: inherit;
    background-color: transparent;    
  }
}

.link-list {
  display: flex;
  
  li {
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }
  }
}

.link-list--centered {
  align-items: center;
}

ul.cta-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.oneyou { //theme
  .button-cta {
    background-color: $sunflower-yellow;
    color: $grey-brown;

    &:hover {
      background-color: $grey-brown;
      color: $white;
    }
  }
}
