* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }
}

html {
  font-family: sans-serif;
  line-height: normal;
  color: $grey-brown-dark;
    
  font-size: $font-default-mobile;
  
  @include media-breakpoint-up(sm) {
    font-size: $font-default-desktop;
  }
}

h1 {
  font-size: $h1;
}

.h1 {
  font-size: $h1 !important;
}

h2 {
  font-size: $h2;
}

.h2 {
  font-size: $h2 !important;
}

h3 {
  font-size: $h3;
}

.h3 {
  font-size: $h3 !important;
}

ol, ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  outline: none;
}

