* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before {
    box-sizing: border-box;
  }

  &:after {
    box-sizing: border-box;
  }
}

html {
  font-family: $default-font;
  line-height: normal;
  color: $grey-brown-dark;

  font-size: $font-default-mobile;

  @include media-breakpoint-up(sm) {
    font-size: $font-default-desktop;

    p, li {
      line-height: 1.3em;
    }
  }
}

body {
  overflow-x: hidden;
}

.h1 {
  font-size: $h1 !important;
}

.h2 {
  font-size: $h2 !important;
}

h3 {
  font-size: $h3;
}

.h3 {
  font-size: $h3 !important;
}

ol, ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

.button-cta {
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;

  &:active {
    transform: translateY(1px);
  }
}

a.button-cta {
  text-decoration: none;
  display: inline-block;
}

a.button-appstore {
  display: inline-block;
  background-image: url('../images/app-store.png');
}

a.button-googleplay {
  display: inline-block;
  background-image: url('../images/google-play.png');
}

.shelf-section ul {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 40px; 
  
  li {
    margin-left: 0;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.shelf-section ol {
  list-style-type: decimal;
  margin: 1em 0;
  padding-left: 40px;
  
  li {
    margin-left: 0;
  }
  
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

a {
  color: $teal-blue;
  
  &:visited {
    color: $teal-blue;
    background-color: transparent;    
  }
  
  &:hover {
    color: inherit;
  }
  
  &:active {
    background-color: $teal-blue;
    color: $white;
  }
}

.link-list {
  display: flex;
  
  li {
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }
  }
}

.link-list--centered {
  align-items: center;
}

ul.cta-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.back-to-top {
  display: none;
  
  &.back-to-top--show {
    &:after {
      @extend %icon-chevron-up;
      position: relative;
      font-size: 30px;
      font-weight: bold;
      z-index: 2;
    }
  }
  
  @include media-breakpoint-down(sm) {
    &.back-to-top--show {
      display: block;
      position: fixed;
      z-index: 1;
      bottom: 1em;
      right: 1em;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: $black;
      color: $white;
      opacity: 0.7;
      border: 1px solid $black;
    }
  }
}

//theming

//default theme (oneyou)
h1 {
  font-size: map-deep-get($headings, oneyou, heading-h1, mobile);
  
  @include media-breakpoint-up(sm) {
    font-size: map-deep-get($headings, oneyou, heading-h1, desktop);
  }
}

h2 {
  font-size: map-deep-get($headings, oneyou, heading-h2, mobile);
  
  @include media-breakpoint-up(sm) {
    font-size: map-deep-get($headings, oneyou, heading-h2, desktop);
  }
}

.button-cta {
  background-color: $sunflower-yellow;
  color: $grey-brown;

  &:active, &:visited {
    background-color: $sunflower-yellow;
    color: $grey-brown;
  }

  &:hover {
    background-color: $grey-brown;
    color: $white;
  }
}

//stoptober
.stoptober {

  h1 {
    font-size: map-deep-get($headings, stoptober, heading-h1, mobile);
    font-weight: normal;
    
    
    @include media-breakpoint-up(sm) {
      font-size: map-deep-get($headings, stoptober, heading-h1, desktop);
    }
  }
  
  h2 {
    font-size: map-deep-get($headings, stoptober, heading-h2, mobile);
    
    @include media-breakpoint-up(sm) {
      font-size: map-deep-get($headings, stoptober, heading-h2, desktop);
    }
  }
  
  html & {  
    color: $black;
  }
}

