// Grid breakpoints
$breakpoints: (
  'x-small': 320px,
  'small': 470px,
  'medium': 524px,
  'large': 768px,
);

$color-primary: #028586;

// Call to action
$color-cta-primary: #fc0;
$color-cta-secondary: #4d4e4e;
$color-cta-tertiary: #ffffc2;

// Text
$color-text-primary: #4d4e4e;
$color-text-body: #333;
$color-text-secondary: #fff;

// Fonts
$primary-brand-font: 'OneYouSansBold', Helvetica, Liberation Sans, Arial, sans-serif;
$secondary-brand-font: 'OneYouSansRegular', Helvetica, Liberation Sans, Arial, sans-serif;
$tertiary-brand-font: 'OneYouScriptBold', Helvetica, Liberation Sans, Arial, sans-serif;
