/* typography */
@font-face {
    font-family: 'OneYouSansBold';
    src: url('../fonts/one_you-sans-bold.eot');
    src: url('../fonts/one_you-sans-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/one_you-sans-bold.woff2') format('woff2'),
    url('../fonts/one_you-sans-bold.woff') format('woff'),
    url('../fonts/one_you-sans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* typography */
@font-face {
    font-family: 'OneYouSansRegular';
    src: url('../fonts/one_you-sans-regular.eot');
    src: url('../fonts/one_you-sans-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/one_you-sans-regular.woff2') format('woff2'),
    url('../fonts/one_you-sans-regular.woff') format('woff'),
    url('../fonts/one_you-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* typography */
@font-face {
    font-family: 'OneYouScriptBold';
    src: url('../fonts/one_you-script-bold.eot');
    src: url('../fonts/one_you-script-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/one_you-script-bold.woff2') format('woff2'),
    url('../fonts/one_you-script-bold.woff') format('woff'),
    url('../fonts/one_you-script-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ojf9ob');
  src:  url('../fonts/icomoon.eot?ojf9ob#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ojf9ob') format('truetype'),
    url('../fonts/icomoon.woff?ojf9ob') format('woff'),
    url('../fonts/icomoon.svg?ojf9ob#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icomoon";
    src: url('../fonts/icomoon.svg?ojf9ob#icomoon') format('svg');
  }
}

/* typography */
@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* typography */
@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}