
@import "./variables/variables";
@import "../../../node_modules/bootstrap-4-grid/scss/grid";
@import 'global';

.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  position: relative;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-color--secondary {
  color: $text-secondary;
}

.push-right {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.col-vertical-center {
  align-items: center;
  display: flex;
}

.md-content-right {
  
  @include media-breakpoint-up(md) {
    justify-content: flex-end;
  }
}