
@import "./variables/variables";
@import "../../../node_modules/bootstrap-4-grid/scss/grid";
@import 'global';

.App {
  overflow: hidden;
}

.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  position: relative;
  
  @include media-breakpoint-down(sm) {
    &.header-nav--open {
      left: 66%;
      padding-top: 0 !important;
    }
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-color--secondary {
  color: $text-secondary;
}

.push-right {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.col-vertical-center {
  align-items: center;
  display: flex;
}

.col-shrink-to-fit {
  flex-grow: 0;
}

.md-content-right {
  
  @include media-breakpoint-up(md) {
    justify-content: flex-end;
  }
}

.no-top-margin {
  margin-top: 0 !important;
}

.no-bottom-margin {
  margin-top: 0 !important;
}
