@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

$shelf-padding-standard: 1em;
$shelf-padding-extra: 2em;

.page-heading-shelf, .banner-shelf {  

  .container, .container-fluid {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.banner-shelf {
  h1, h2 {
    white-space: nowrap;
  }

  h2 {
    @include heading-h1(oneyou);
  }
}

.banner-shelf > .container {

  @include media-breakpoint-up(sm) {
    &:not(.full-to-half-width) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  
  @include media-breakpoint-up(lg) {  
      &:not(.full-to-half-width) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.banner-shelf > .full-to-half-width {
  
  padding-left: 0;
  padding-right: 0;
  
  @include media-breakpoint-up(sm) {  
    > .container {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  
  @include media-breakpoint-up(lg) {  
    display: flex;
    
    > .container {
      width: 52%;
      margin-left: initial;
    }
  }
  
  h2 {
    @include media-breakpoint-only(lg) {  
        @include heading-h2(oneyou)
    }
  }
}

// .banner-shelf, .page-heading-shelf, .banner-shelf {

//   h1, h2 {
//     text-transform: uppercase;
//     font-family: $primary-brand-font;
//     font-weight: normal;

//     .text-light {
//       font-family: $secondary-brand-font;
//       font-weight: normal;
//     }
//   }

//   .marker {
//     font-family: $tertiary-brand-font;
//   } 
// }

.page-heading-shelf {
    
  img {
    display: block;
  }
  
  > .shelf__container {
    overflow: hidden;
  }
  
  .container, .container-fluid {
    padding-top: 1.4em;
    padding-bottom: 0.6em;
    min-height: calc(143px - 2em);
      
    @include media-breakpoint-up(md) {
      padding-top: 2em;
      padding-bottom: 1.8em;
      min-height: calc(240px - 3.8em);  
    }
  }
  
   > .container-fluid > .container {
     padding-top: 0;
     padding-bottom: 0;
  }
    
  h1 {
      margin: 0 0 0.3em 0;
      font-weight: normal;

      em {
        color: $sunflower-yellow;
        font-style: normal;
      }
      
      @include media-breakpoint-up(sm) {
        margin-bottom: 0.2em;
      }
  }
  
  .shelf-left-image--top {
    
    .page-heading-shelf__container-left {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  
  .shelf-left-image--bottom {
    
    &.shelf-right-image--bottom {
      
      .page-heading-shelf__container-right {
        position: absolute;
        bottom: 0;
        right: 0;
        
        .page-heading-shelf__right-image--bottom {
          margin-bottom: 0;
        }
      }
    }
  }
}

.page-heading-shelf__container-right {
  float: right;
}

.page-heading-shelf__left-image--top {
  
  margin-bottom: 1em; 
  
  img {
    
    @include media-breakpoint-down(sm) {
      height: 40px;
    }
  }
}

.page-heading-shelf__left-image--bottom {
  margin-top: 1em;
  margin-bottom: 0.5em;
  
  img {
    
    @include media-breakpoint-down(sm) {
      height: 50px;
    }
  }
}

.page-heading-shelf__right-image--top {
  position: absolute;
  top: 0.5em;
  right: 0;
  
  img {
    
    @include media-breakpoint-down(sm) {
      height: 30px;
    }
  }
}

.page-heading-shelf__right-image--bottom {
  float: right;
  margin-top: 1em;
  margin-bottom: 1em;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
  
  img {
    
    @include media-breakpoint-down(sm) {
      height: 50px;
    }
  }
}


//theming

.oneyou {
  .page-heading-shelf, .banner-shelf {
    
    h1, h2 {
      color: $white;
      text-transform: uppercase;
      font-family: $primary-brand-font;
      font-weight: normal;
  
      .text-light {
        font-family: $secondary-brand-font;
        font-weight: normal;
      }
    }

    .shelf__container {
      background-color: $teal-blue;
    }

    .marker {
      font-family: $tertiary-brand-font;
      color: $sunflower-yellow;
    } 
  }
}


.sexhealth {
  
  .banner-shelf {
    // h2, p {
    //   color: $sexhealth-dark;
    // }

    .banner-body {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    &.banner-shelf--banner {
      .shelf__container {
        background-color: $white;

        .banner {
          color: $sexhealth-dark !important;
        }
      }
    }

    &.banner-shelf--primary {
      .shelf__container {
        background-color: $sexhealth-purple;
        
        .banner {
          color: $white !important;
        }
      }
    }

    .shelf__container {
      padding: 0;
      background-color: $sexhealth-purple;
      
      .banner, h2, p {
        color: $white;
        font-weight: normal;
      }

      .banner {
        padding-top: 1em;
        padding-bottom: 1em;
        background-repeat: no-repeat;
        background-size: cover;

        @include media-breakpoint-up(sm) {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }      
      }
    }

    .shelf__container.image-not-set {
      .banner, h2, p {
        color: $sexhealth-dark;
      }
    }
  }
}