@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

$shelf-padding-standard: 1em;
$shelf-padding-extra: 2em;

.sexhealth {
  
  .cc-banner-shelf {
    
    .banner-body {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    &.banner-shelf--none {
      .shelf__container {
        background-color: $white;
        
        .banner {
          color: $sexhealth-dark !important;
        }
      }
    }

    &.banner-shelf--primary {
      .shelf__container {
        background-color: $sexhealth-purple;
        
        .banner {
          color: $white !important;
        }
      }
    }

    &.banner-shelf--imagebackground {
      .shelf__container {
        padding: 0;
        background-color: $sexhealth-purple;
        
        .banner, h2 {
          color: $white;
          font-weight: normal;
        }

        .banner {
          padding-top: 1em;
          padding-bottom: 1em;
          background-repeat: no-repeat;
          background-size: cover;

          @include media-breakpoint-up(sm) {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
          }      
        }
      }
    }
  }
}