@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.two-column-shelf {

  &.two-column-shelf--col2_np {
    
    .column2 {
      padding: 0;
    }
  }
  
  &.two-column-shelf--col1_np {
    
    .column1 {
      padding: 0;
    }
  }
  
  &.two-column-shelf--no_padding {
    
    .column1, .column2 {
      padding: 0;
    }
  }
}

.two-column-shelf-content, 
.two-column-shelf-content > div {
  height: 100%;
  display: flex;
  flex: 1 1 0;
}

.two-column-shelf--dark_bg {
  
  .shelf__container {
    background-color: $teal-blue;
    color: $white;
    
    h2 {
      color: $white;
    }
  }
  
  .container {  
    padding-top: 1em;
    padding-bottom: 1em;
    
    @include media-breakpoint-up(sm) {
      padding: 1em;  
    }
  }
}

//sexhealth
.sexhealth {
  
  .two-column-shelf {
    
    .shelf__container {
      padding: 0;
    }
    
    &.two-column-shelf--col2_np {
      .simple-service-finder  {
        @include media-breakpoint-up(md) {
          margin: 1em
        }
      }
    }
  }
}