@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";


.rich-text-panel--crisis-card,
.rich-text-panel--crisis-card-no-header {

  padding-bottom: 1em;
  
  h3 {
    margin-bottom: 1em;
    font-family: $secondary-brand-font;
    font-weight: normal;
  }
  
  h4 {
    margin-bottom: 1em;
    color: $teal-blue;
  }
  
  p {
    margin-bottom: 1em;
  }
}

.rich-text-panel--crisis-card-no-header {
  height: 100%;
  display: flex;
  
  .rich-text {
    margin-top: auto;
  }
}

.rich-text-panel {
  p {
    margin-bottom: 1em;
  }
}