@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.page-footer {
  font-family: $nav-font;
  background: $grey-brown-dark;
  color: $white;
  padding: 1.5rem 0;
  
  @include media-breakpoint-up(sm) {
    font-size: 0.8rem;
  }
}

.footer-nav {
  
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-nav__col-2 {
  margin-top: 1em;
    
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}

.footer-nav__link {
  color: $white;
  text-decoration: none;
  
  &:visited {
    color: $white;
  }
  
  &:hover {
    text-decoration: underline;
  }
  
  &:active {
    background-color: inherit;
    color: inherit;
  }
}
  
.footer-nav__item {
  margin-bottom: 1rem;
  
  &:last-child{
    margin-bottom:0
  }
}

.page-footer__follow-title {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;  
}


.page-footer__social-links {
  display: inline-flex;
  justify-content: flex-end;
  
  li {
    position: relative;
    margin-left:1em;
  }
  
  a {
    display: block;
    height: 30px;
    width: 30px;
    text-decoration: none;
      
    &:active {
      background-color: transparent;
    }
  }
}


.page-footer__facebook {
  
  &:after {
    @extend %icon-facebook;
    position: absolute;
    right: 0;
    top: 0;
    color: $white;
    font-size: 30px;
  }
}

.page-footer__twitter {
  
  &:after {
    @extend %icon-twitter;
    position: absolute;
    right: 0;
    top: 0;
    color: $white;
    font-size: 30px;
  }
}

.page-footer__phe-logo {
  margin-bottom: 1.5em;
}


//theming

//sexhealth
.sexhealth {
  .page-footer {
    background: $black;
  }

  .footer-nav {
    display: block;
    margin-left: 45px;
    padding-left: 45px;
    border-left: 2px solid;

    h2{
      margin-bottom: 10px;
      margin-left: -20px;
    }

    ul {
      margin-right: 50px;
    }
  }

  .footer-nav__link {
    color: $sexhealth-pink;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .footer-nav__list {
    display: flex;
    flex-direction: row;
  }

  .footer-nav__item {
    color: $sexhealth-pink;
    list-style: disc;
  }

  .footer-left{
    display: flex;
    flex-direction: row;
  }
}