@import '../../../../assets/styles/variables/variables';
@import '../../../../assets/styles/variables/icons';
@import "../../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.recipe__banner {
  min-height: 256px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 1em;
  position: relative;

  &.clickable {
    cursor: pointer;
  }

  .gradient {
    width:100%;
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(90deg, #000000 0%, rgba(0,164,166,0) 100%);
    opacity: 0.4;
    height:100%;
  }
  
  @include media-breakpoint-up(sm) {
      min-height: 300px;
      margin-bottom: 1.5em;
  }

  .video_play_button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110px;
    width: 110px;
  }
}

.recipe__intro {
  
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.recipe__intro__col-1 {
  
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
  }
}

.recipe__intro__col-2 {
  
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;
  }
}

.recipe__block {

  padding-bottom: 1em;

  @include media-breakpoint-up(sm) {
    
    padding-bottom: 1.5em;
    
    &.container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  h1,
  h2, h2 + div .richTextEditor > p {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  p + h3 {
    margin-top: 1em;
  }

  div > p:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-family: $secondary-brand-font;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: upperCase;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0.2em;
    }
  }

  ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 1em;

    li {
      margin-left: 0;
      margin-bottom: 0.5em
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 1em;

    li {
      margin-left: 0;
      margin-bottom: 0.5em
    }

    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .recipe__tags__item {
    background-color: $grey-brown-dark;
    color: $sunflower-yellow;
    display: inline-block;
    padding: 0.5em;
    margin: 0 0.5em 0.5em 0;

    @include media-breakpoint-up(lg) {
      font-size: 0.8em;
    }

    &:last-child {
       margin-right: 0;
    }
  }
  
  .recipe__header {
    margin-top: 0;
    
    @include media-breakpoint-up(lg) {
      margin-bottom: 0.2em;
    }
  }
}


.recipe__header {
  font-family: $secondary-brand-font;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.2em;
  text-transform: upperCase;
}

.recipe__tags, .recipe__ingredients {
  padding-bottom: 1em;
}

ul.recipe__tags {
  margin: 0;
  padding: 0 0 0.3em;
  list-style: none;
}

.recipe__ingredients {

   ul {
     margin: 0;
     
     @include media-breakpoint-up(lg) {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
     }
   }

   li {
     padding-right: 0.5em;
     
     @include media-breakpoint-up(lg) {;
       width: 33%;
       padding-right: 1em;
       padding-left: 0.5em;
     }
   }
}

.recipe__summary {
  display: flex;
  flex: 1 1 0;
  padding-bottom: 1.2em;
  
  @include media-breakpoint-up(lg) {
    flex: initial;
    width: 70%;
  }
}

.recipe__summary__item {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 0.5em;
  padding: 1em 0.5em 0.5em;

  &:last-child {
    margin-right: 0;
  }

  p {
    margin-top:  auto;
    
    @include media-breakpoint-up(lg) {
      font-size: 0.8em;
      white-space: nowrap;
    }
  }
}

.recipe__summary__header {

  font-size: 2.2em;
  font-family: $secondary-brand-font;
  font-weight: normal;
  margin-bottom: 0.4em;
  
  @include media-breakpoint-up(lg) {;
    font-size: 1.6em;
  }
}

.recipe__summary__plate {
  position: relative;

  &:after {
    @extend %icon-dinner-plate;
  }
}


.recipe__instructions {

  @include media-breakpoint-up(lg) {
    width: 70%;
  }
}

//theming

//default theme (oneyou)
.recipe__block {

  h2, .recipe__header {
    color: $teal-blue;
  }

  .recipe__summary__item {
    background: $teal-blue;
    color: $white;
  }
}