@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.banner {
  /*background-color: #f4f4f4;*/
  display: flex;
  flex-direction: column;

  &.banner-align-left {
    align-items: flex-start;

    .banner-content {
      align-items: flex-start;
    }
  }

  &.banner-align-center {
    align-items: center;
    
    .banner-heading {
      text-align: center;
    }
    
    .banner-content {
      align-items: stretch;
    }
  }

  &.banner-align-right {
    // align-items: flex-end;

    .banner-content {
      align-items: flex-end;
    }
  }
  
  .banner-content {
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      width: 75%;
    }
  }

  .banner-ctas {
    /*background-color: #e8e8e8;*/
    align-self: stretch; /* Use to override align-items of the parent container. */
  }

  &.banner-direction-horizontal {
    &.banner-align-center .row {
      align-items: center;
    }
  }
}

.sexhealth {
  
  .banner-heading {
    
    @include media-breakpoint-up(lg) {
      padding-bottom: 0.5rem !important;
    }
  }
}


.banner-panel {  
  .container, .container-fluid {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.banner-panel {

  h1, h2 {
    text-transform: uppercase;
    font-family: $primary-brand-font;
    font-weight: normal;

    .text-light {
      font-family: $secondary-brand-font;
      font-weight: normal;
    }
  }

  .marker {
    font-family: $tertiary-brand-font;
  } 
}

.banner-panel {
  h2 {
    @include heading-h1(oneyou);
  }
}