@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.banner {
  /*background-color: #f4f4f4;*/
  display: flex;
  flex-direction: column;

  &.banner-align-left {
    align-items: flex-start;

    .banner-content {
      align-items: flex-start;
    }
  }

  &.banner-align-center {
    align-items: center;
    
    .banner-heading {
      text-align: center;
    }
    
    .banner-content {
      align-items: stretch;
    }
  }

  &.banner-align-right {
    // align-items: flex-end;

    .banner-content {
      align-items: flex-end;
    }
  }
  
  .banner-content {
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      width: 75%;
    }
  }

  .banner-ctas {
    /*background-color: #e8e8e8;*/
    align-self: stretch; /* Use to override align-items of the parent container. */
  }

  &.banner-direction-horizontal {
    &.banner-align-center .row {
      align-items: center;
    }
  }

  @media (max-width: 768px) {
   .buttons-direction-vertical.buttons-align-right .buttons-ctas .cta-list{
      flex-direction: initial;
    }
  }
}

.banner-panel {  
  .container, .container-fluid {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.banner-panel {

  h1, h2 {
    text-transform: uppercase;
    font-family: $primary-brand-font;
    font-weight: normal;

    .text-light {
      font-family: $secondary-brand-font;
      font-weight: normal;
    }
  }

  .marker {
    font-family: $tertiary-brand-font;
  } 
}

.banner-panel {
  h2 {
    @include heading-h1(oneyou);
  }
}

.banner .panel {
  h1, h2, h3, h4, h5 {
    color: $white;
  }

  p, ul, ol {
    color: $white;
  }
  
  a:not(.button-cta) { 
   color: $white;
 }
}

.banner h2 {
  
  @include media-breakpoint-down(sm) { 
    font-size: 1.5em;
  }
  
  @media (max-width: 365px) {
    font-size: 1.4em;
  }
}

.sexhealth {
  
  .banner-shelf .shelf__container .banner {

    &.image-set {
      padding: 1.5rem 1rem;
    }

    .banner-content {
      padding: 1em;
    }

    @media (min-width: 992px) {
      .panel {
        padding-top: .5em;
        padding-bottom: .5em;
        width: 75%;
      }
    }

    h2 {
      font-size: 1.95em;

      @include media-breakpoint-down(sm) { 
        font-size: 1.625em;
      }
    }
  
    .banner-heading {
      @include media-breakpoint-up(lg) {
        padding-bottom: 0.5rem !important;
      }
    }
  }
}