@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.pure-modal-backdrop .video-modal {  
  width: 100%;
  
  .panel-heading .close {
    top: 15px;
    right: 15px;
    line-height: 30px;
    color: #000;
    background-color: #fff;
    opacity: 1;
  } 
  
  .panel-body {
    padding-right: 15px;
    background: #000;
    
    @media screen and (orientation: landscape) {
      @include media-breakpoint-down(md) {
       padding: 0;
      }
    }
  }
  
  .panel-default {
    padding: 1em;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (orientation: landscape) {
      @include media-breakpoint-down(md) {
       padding: 0;
      }
    }
  }
  
  .video-js {
    height: 400px;
    width: 100%;

    &.wirewax {
      height: 80vh;

      @media screen and (orientation: landscape) {
        @include media-breakpoint-down(md) {
          height: 100vh;
        }
      }
    }
  }
}


//theming

//sexhealth
.pure-modal-backdrop {
  .sexhealth-video-modal {
    background-color: $white;

    &.video-modal .video-js {
      height: 150px;
      padding-bottom: 56.25%;
    }

    .panel-default {
      padding: 15px 25px 30px 25px;
      .panel-heading {
        height: 50px;
        background: $white;

        .close {
          right: 0;
          font-size: 50px;
          color: $sexhealth-pink;
          margin-top: -8px;
          font-family: 'GothamBook';
        }
      }
    }

    @media (min-width: 575px){
      &.video-modal {  
        width: 600px;
        margin: 30px auto;

        .video-js {
          height: 400px;
        }
      }
    }
  }
}