@import '../../assets/styles/variables/variables';
@import '../../assets/styles/variables/icons';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.show-more-panel {
  transition-property: max-height;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.show-more-content > .shelf__col {
  &.hidden {
    display: none;
  }
}

.more-less-toggle {
  margin: 4px 0 8px;

  a {
    font-size: 1.2em;
    text-decoration: underline;
    position: relative;
    padding-right: 35px;
    cursor: pointer;  
    
    &:after {
      position: absolute;
      display: inline-block;
      font-weight: normal;
      font-size: 40px;
      top: -4px;
      right: 0;
    }
  }

  a.see-more {  
    &:after {
      @extend %icon-chevron-down;
    }
  }

  a.see-less {
    &:after {
      @extend %icon-chevron-up;
    }
  }
}

.debug-info {
  font-size: 0.8em;
  color: #999999;
}
