@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

$pimary-item-padding: 0.6em;
$secondary-item-padding: 0.4em;

.header-nav {
  font-family: $nav-font;
  background: $grey-brown-dark;
  padding: 1em;
  padding-bottom: 0;
  text-align: left;
  width: 66%;
  transition:  left 0.3s, height 0.3s, transform 0.3s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -68%;
  z-index: 1;
  box-shadow: 8px 6px 8px -4px rgba(0,0,0,0.64);
  
  .header-nav--open & {
    left: 0;
  }
  
  @include media-breakpoint-up(md) {
    display: flex;
    margin-left: auto;
    background: white;
    position: static;
    left: auto;
    width: auto;
    padding: 0;
    font-family: $secondary-brand-font;
    font-size: 0.9em;
    box-shadow: 0px 0px 0px 0px;
  }
}

.header-nav__items {
  
  >  li:first-child  {

    .header-nav__link {
      color: $sunflower-yellow;
      text-transform: uppercase;
      font-family: $secondary-brand-font;
    }
  }
  
  @include media-breakpoint-up(md) {
    display: flex;
    
      >  li:first-child  {
        display: none;
      }        
  }
}

.header-nav__title {
  color: $white;
  padding-bottom: 1em;
  text-transform: uppercase;
  font-family: $primary-brand-font;
  font-size: 1.6em;
  font-weight: normal;
  
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.header-nav__item {
  border-bottom: 1px solid $white;
  padding: $pimary-item-padding 0;
  
  @include media-breakpoint-up(md) {
    border-bottom:0;
  }
  
  .header-nav__secondary-nav & {
    border-bottom: 0;
    padding: 0.5em 0 0.5em 1em;
    
    &:first-child{
      padding-top: 1em;
      
      @include media-breakpoint-up(md) {
        padding-top: 0;
      }
    }
  }

  &:last-child {
    border-bottom: 0;
  }
  
  @include media-breakpoint-up(md) {
    padding: 2em 0 1em;
    
    &:first-child{
      margin-right: auto;
      font-size: inherit;
    };
  
    .header-nav__link {
      border-bottom: 0.2em solid transparent;
    }
  }
}

.header-nav__items > .header-nav__item >
.header-nav__separator {  
  
  @include media-breakpoint-up(md) {
    padding: 0.3em 1em 0.5em;
    border-left: 2px solid $text-primary; 
    
    .header-nav__secondary-title,
   > .header-nav__link {
       top: 0.5em;
   }
    
    &:hover {
      background: $grey-brown-dark;
      
      .header-nav__secondary-title,
     > .header-nav__link {
        color: $white;
        border-bottom-color: $white;
      }
    }
  }
}

.header-nav__items > .header-nav__item  {
  
  @include media-breakpoint-up(md) {
    
    &:nth-child(2) {
      .header-nav__separator {
        border-left: 0;
      }
    }
    
    &:hover {
      background: $grey-brown-dark;
      
      .header-nav__secondary-title,
     > .header-nav__separator > .header-nav__link {
        color: $white;
        border-bottom-color: $white;
      }
    }
    
    &:focus {
      background-color: inherit;
    }
  }
}

.header-nav__items >
.header-nav__item:hover + .header-nav__item {
  
  @include media-breakpoint-up(md) {
    > .header-nav__separator { 
       border-left: 2px solid transparent; 
    }
  }
}

.header-nav__link {
  
  position: relative;
  color: $white;
  text-decoration: none;
  white-space: nowrap;
  
  &:visited {
    color: white;
  }
  
  &:hover {
    color: $sunflower-yellow;
  }
  
  &:active {
    background-color: inherit;
  }
  
  @include media-breakpoint-up(md) {
    display: inline-block;
    color: $text-primary;
    padding-bottom: 0.3em;
    
      &:focus, &:visited {
        color: inherit;
      }
  }
}

.header-nav__link--home {
  color: $sunflower-yellow;
  
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.header-nav__link--current {
  color: $sunflower-yellow;
}

@keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navFadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.header-nav__secondary-nav {
  
  @include media-breakpoint-down(sm) {
    transition: max-height 0.5s;  
    overflow: hidden;
    max-height: 0;
    padding: 0;
  }
  
  @include media-breakpoint-up(md) {
  /*  display: flex;
    flex-wrap: wrap; */
    position: absolute;
    padding: 1.1em 5% 0.5em 2em;
    z-index: 2;
    top: 5.1em;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    animation: navFadeOut 0.3s ease-in-out both;
    box-shadow: 5px 12px 8px -6px rgba(0,0,0,0.64);
    background: $grey-brown-dark;
  }
  
  .header-nav__item {
    
    @include media-breakpoint-up(md) {
      padding: 0 1em 0; 
      margin: 6px 0;
      
      &:first-child {
        margin-right: initial;
      }    
    }
  }
  
  .header-nav__link { 
    
    @include media-breakpoint-up(md) {
      color: $white;
    }
    
    &:hover {
      color: $sunflower-yellow;
    }
  }
}

.header-nav__secondary-nav-inner {
  
  @include media-breakpoint-up(md) {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
}


.header-nav__secondary-title {
  
  color: $white;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  
  &:hover {
    color: $sunflower-yellow;
  }
  
  &:focus {
    background-color: inherit;
    color: inherit;
  }
  
  &:after {
    
    @extend %icon-chevron-right;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  
  @include media-breakpoint-up(md) {
    color: $text-primary; 
    padding-top: 0;
    padding-bottom: 0.3em;
    border-bottom: 0.2em solid transparent;
    
    &:hover {
      color: $white;
    }
  }
}

.header-nav__secondary-title--open {
    
  & + .header-nav__secondary-nav {
    
    @include media-breakpoint-down(md) {
      transition: max-height 0.5s; 
      overflow: hidden;
      max-height: 350px;
    }
  }
  
  &:after {
    @extend %icon-chevron-down;
  }   
}

.header-nav-multi__item:hover {
  
  > .header-nav__separator
  > .header-nav__secondary-nav {
    
    @include media-breakpoint-up(md) {
      display: block;
      animation: navFadeIn 0.4s ease-in-out both;
    }
  }
}

.page-content-wrapper {

  .header-nav--open & {
    position: relative;
    
    @include media-breakpoint-up(md) {
      left: auto;
    }
  }
}