@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.page-wrapper {    
  max-width: 1400px;

  @include media-breakpoint-up(sm) {
    position: relative;
    left: auto;
  }
}

.page-header {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 3em;
  
  .header-nav--open & {
    position: relative;
    left: 70%;
    
    @include media-breakpoint-up(sm) {
      left: auto;
    }
  }
  
  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}

.page-header__logo {
  
  font-family: $primary-brand-font;
  color: $text-primary;
  text-decoration: none;
  white-space: nowrap;

  span {
    display: inline-block;
    font-family: $tertiary-brand-font;
    color: $text-secondary;
    line-height: 0.9em;    
    border-bottom: 0.15em solid  $text-primary;
  }
}

.page-header__burger {
  cursor: pointer;
  position: absolute;
  left:15px;
  height: 30px;
  width: 30px;

    
  @include media-breakpoint-up(sm) {
    display: none;
  }
  
  i {
    &:after {
      @extend %icon-hamburger;
      position: absolute;
      right: 0;
      top: 0;
      color: black;
      font-size: 30px;
      }
    }      
}