@import '../../../assets/styles/variables/variables';
@import "../../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.breadcrumbs {
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%;
  list-style: none;
  overflow: hidden;
  position: relative;
  height: 20px;
  
  @include media-breakpoint-up(lg) {
    margin-top: 0.5em;
    margin-bottom: 0;
    height:26px;
  }
}

.breadcrumbs li {
  float: left;
  position: relative;
  padding-right: 1em;
  margin-right: 0.5em;
  
  &:after {
    @extend %icon-chevron-right;
    position: absolute;
    top: 20%;
    right: 0;
    font-size: 0.6em;
  }
  
  &:first-child {
    display:block;
  }
  
  &:last-child {
    display: block;
  
    &:after {
      display: none;
    }
  }  
}

.breadcrumbs__item {
  line-height: normal;
  
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.breadcrumbs__link {
  text-decoration: none;
  font-size: 0.8em;
  line-height: 0.8em;
  
  &:link, &:hover, &:visited {
    color: $warm-grey;
  }
  
  &:hover {
    text-decoration: underline;
  }
  
  &:active {
    color: $white;
  }
  
}