{% load wagtailadmin_tags %}
{% load i18n %}

{% block extra_js %}
  <script type="text/javascript" charset="utf-8">
    (function($) {
      function init(){
        console.log($('#examples-page')[0].href)
        var href = $('#examples-page')[0].href;
        href = href + '?cms=' + window.location.origin + '/api'
        $('#examples-page')[0].href = href
      }

      $(document).on('page:load', init);
      $(init)
    })(jQuery)
  </script>
{% endblock %}

<nav class="nav-main">
    <ul>
        {{ menu_html }}

        {% comment %}
        <li class="menu-item">
            <a id="examples-page" href="/oneyou/shelf-samples/" target="_blank" class="icon icon-image">Example Shelves</a>
        </li>
        {% endcomment %}

        <li class="footer" id="footer">
            <div class="account" id="account-settings" title="{% trans 'Edit your account' %}">
                <span class="avatar square avatar-on-dark">
                    <img src="{% avatar_url request.user size=50 %}" />
                </span>
                <em class="icon icon-arrow-up-after">{{ request.user.first_name|default:request.user.get_username }}</em>
            </div>

            <ul class="footer-submenu">
                <li><a href="{% url 'wagtailadmin_account' %}" class="icon icon-user">{% trans "Account settings" %}</a></li>
                <li><a href="{% url 'wagtailadmin_logout' %}" class="icon icon-logout">{% trans "Log out" %}</a></li>
            </ul>

        </li>
    </ul>
</nav>