@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.accordion-group__container {
  padding-left: 0;
  padding-right: 0;
}

.accordion-group__container .accordion-panel__sub-container {
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.accordion-panel {
  margin-bottom: 1px;
  
  @include media-breakpoint-up(sm) {
    margin-bottom: 2px;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.accordion-panel_wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.accordion-panel__header {
  background-color: $teal-blue;
}

.accordion-panel__header {
  
  h2 { 
    color: $white;
    font-family: $secondary-brand-font;
    font-weight: normal;
    position: relative;
    padding: 0.5em 0;
    cursor: pointer;
  
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: inherit;
      font-size: 2em;
      color: $white;
    }
  }
  
  &.accordion-panel__header--expanded {
    h2 {
      &:after {
        @extend %icon-chevron-up;
      }
    }
  }
  
  &.accordion-panel__header--collapsed {
    h2 {
      &:after {
        @extend %icon-chevron-down;
      }
    }
  }
}

.accordion-panel__body {
  transition: max-height 0.5s;
  transition: padding 0.5s;
  overflow: hidden;
}

.accordion-panel__body.accordion-panel__body--expanded {
  padding-top: 1em;
  max-height: 1400px;
}

.accordion-panel__body--collapsed {
  max-height: 0;
  padding-top: 0;
}