@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.action-group-panel {
  border-bottom: 1px solid $white;

  .action-group-panel--heading {
    padding: 28px;
    background-color: $teal-blue;
    display: flex;

    @include media-breakpoint-down(sm) {
      padding: 14px 32px;
    }

    &:after {
      @extend %icon-chevron-down;
      margin-left: auto;
      color: $white;
      font-size: 40px;
      line-height: 20px;
    }

    &.open {
      background-color: $teal-dark;

      &:after {
        @extend %icon-chevron-up;
        margin-left: auto;
        color: $white;
        font-size: 40px;
        line-height: 20px;
      }
    }

    .action-group-panel--title {
      color: $white;
      font-weight: 400;
      font-size: 24px;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }
    }
  }

  .action-group-panel--action-list {
    background-color: $teal-light;
    padding: 35px;
    font-size: 20px;

    &.hidden {
      display: none;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}