@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.app-teaser {
  display: flex;
  background-color: #f0eff4;
}

.app-teaser__heading {
  font-family: $secondary-brand-font;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.app-teaser__image {
  width: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 176px;
  
  .child-image--contain & {
    background-size: contain;
    background-position: top left;
  }
  
  @include media-breakpoint-up(sm) {
    min-height: 263px;
  }
}

.app-teaser__info {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 1.2em 1em; 
  
  p {
    margin-bottom: 1em;
  }
}

a.button-appstore {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

a.button-googleplay {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat; 
}
