@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.icon-card-panel {

  .icon-card-panel__image img {
    max-width: 100%;
    height: auto;
  }

  .icon-card-panel__heading {
    color: $grey-brown-dark;
  }
  
  .icon-card-panel__text { 
    color: $grey-brown-dark;
  }
  
  &.icon-card-panel--standard_grey_bg {
    .icon-card-panel__heading {
      font-size: 0.9em;
      font-family: $secondary-brand-font;
      text-transform: uppercase;
    }

    .icon-card-panel__text {
      font-size: 0.7em;
    }
  }

  &.icon-card-panel--x_small_heading_large_body_no_bg {
    .icon-card-panel__heading {
      font-size: 0.6em;
      font-family: $default-font;
      font-weight: normal;
      margin-bottom: 0.7em;
    }

    .icon-card-panel__text {
      font-size: 1.6em;
      font-family: $secondary-brand-font;
      text-transform: uppercase;
    }
  }
}

.stoptober { 
  
  .icon-card-panel {
  
    .icon-card-panel__heading {
      color: $black;
    }
    
    .icon-card-panel__text { 
      color: $black;
    }
  }
}
