@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.image-teaser {
  display: flex;
  height: 100%;
}

.image-teaser__image {
  min-height: 120px;
  background-repeat: none;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(sm) {
    min-height: 263px;
  }
}

.image-teaser__info {
  display: flex;
  flex-direction: column;
}

.image-teaser__heading {
  padding: 0.8em 0.7em 0.7em;
  
  @include media-breakpoint-up(sm) {
    padding: 1em;
  }
}

.image-teaser__text {
  display: flex;
  flex-direction: column;
  padding: 0.7em;
  height: 100%;
  
  @include media-breakpoint-up(sm) {
    padding: 1em;
  }

  p {
    margin-bottom: 1em;
    font-weight: normal !important;
  }

  a, .cta-list {
    margin-top: auto;
    font-weight: bold;
  }
}


// variants
.image-teaser--light-bg {
  
  .image-teaser__info {
    width: 50%;
  }
  
  .image-teaser__image {
    width: 50%;
  }
  
  .image-teaser__text {
    padding-bottom: 0;
    
    @include media-breakpoint-down(sm) {
      padding-top: 0.5em;
    }
  }
  
  .image-teaser__body {
    font-size: 0.9em;
    
    @include media-breakpoint-up(sm) {
      font-size: 1em;
    }
  }
}

.image-teaser__heading {
  
  @include media-breakpoint-down(sm) {
    font-size: 1em;
  }
}

.image-teaser--dark-bg {
  
  .image-teaser__info {
    width: 65%;
  }
  
  .image-teaser__image {
    width: 35%;
  }
}

// theming
.oneyou {
  
  .image-teaser--light-bg {
    
    .image-teaser__heading {  
      padding-top: 0;
    }
  }
  
  .image-teaser__heading {
      text-transform: uppercase;
      font-family: $secondary-brand-font;
      font-weight: normal;
      padding-bottom: 0;   
  }
  
  .image-teaser--dark-bg {
    
    .image-teaser__info {
        background: $teal-blue;
    }

    .image-teaser__heading {
      color: $white;
    }

    .image-teaser__text {
      color: $white;

      a {
        color: $sunflower-yellow;
      }
    }
  }
}
