@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.image-teaser {
  display: flex;
  height: 100%;
}

.image-teaser__image {
  min-height: 176px;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include media-breakpoint-up(sm) {
    min-height: 263px;
  }
}

.image-teaser__info {
  display: flex;
  flex-direction: column;
}

.image-teaser__heading {
  padding: 1em;
}

.image-teaser__body {
  overflow: hidden;
}

.image-teaser__text {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 100%;
  
  .cta-list {
    padding-top: 1em;
    margin-top: auto;
  }

  a {
    font-weight: bold;
  }
}


// variants
.image-teaser--light-bg {
  
  .image-teaser__info {
    width: 50%;
  }
  
  .image-teaser__image {
    width: 50%;
  }
  
  .image-teaser__text {
    padding-bottom: 0;
    
    @include media-breakpoint-down(sm) {
      padding-top: 0.5em;
    }
  }
  
  .image-teaser__body {
    font-size: 0.9em;
    
    @include media-breakpoint-up(sm) {
      font-size: 1em;
    }
  }
}

.image-teaser__heading {
  
  @include media-breakpoint-down(sm) {
    font-size: 1em;
  }
}

.image-teaser--dark-bg {
  
  .image-teaser__info {
    width: 65%;
  }
  
  .image-teaser__image {
    width: 35%;
  }
}

// theming
.oneyou {
  
  .image-teaser--light-bg {
    
    .image-teaser__heading {
      text-transform: uppercase;
      font-family: $secondary-brand-font;
      font-weight: normal;
      padding-top: 0;
      padding-bottom: 0;
    }    
  }
  
  .image-teaser--dark-bg {
    
    .image-teaser__info {
        background: $teal-blue;
    }

    .image-teaser__heading {
      background-color: $teal-dark;
      color: $white;
    }

    .image-teaser__text {
      color: $white;

      a {
        color: $sunflower-yellow;
      }
    }
  }
}
