@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.information-panel {
  display: flex;
  position: relative;
}

.information-panel__image {
  width: 40%;
  min-height: 176px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  @include media-breakpoint-up(md) {
    min-height: 230px;
  }
  
  @include media-breakpoint-up(lg) {
    min-height: 336px;
  }
}

.information-panel__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  padding-right: 1em;
  
  @include media-breakpoint-up(sm) { 
    padding-right: 2em;
  }
  
  @include media-breakpoint-up(lg) { 
    padding-right: 3em;
  }
}

.information-panel__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  p {
    margin-bottom: 1em;
  }
}

// theming
.oneyou {
  
  .shelf .information-panel__heading {
    color: $grey-brown-dark;
  }

  .information-panel__info {
      background: none;
  }

  .information-panel__heading {
    font-weight: normal;
    font-family: $secondary-brand-font;
    margin-bottom: 0.5em;
    
    em {
      font-style: normal;
      color: $black;
    }
    
    .marker {
      display: inline-block;
      line-height: 0.9em;
      border-bottom: 0.15em solid $black;
      font-family: $tertiary-brand-font;
      color: $teal-blue;
    }
  }

  .information-panel__text {
    color: $black;

    a {
      color: $sunflower-yellow;
      font-weight: bold;
    }
  }
}
