@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.information-panel {
  display: flex;
  position: relative;
  
  div {
    max-width: 100%
  }
}

.information-panel__image {
  width: 40%;
  min-height: 176px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  @include media-breakpoint-up(md) {
    min-height: 230px;
  }
  
  @include media-breakpoint-up(lg) {
    min-height: 336px;
  }
  
  .child-image--contain & {
    background-size: contain;
    background-position: top left;
  }
}

.information-panel__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  padding-right: 1em;
  
  @include media-breakpoint-up(sm) { 
    padding-right: 2em;
  }
  
  @include media-breakpoint-up(lg) { 
    padding-right: 3em;
  }
}

.information-panel__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  p {
    margin-bottom: 1em;
  }
}

.information-panel--mobile-image-top-text-right {
  flex-direction: column-reverse;
  
  @include media-breakpoint-up(md) { 
    flex-direction: row-reverse;
  }
  .information-panel__info {
    
    width: 100%;  
    
    @include media-breakpoint-up(sm) { 
      padding: 0;
    }
    
    @include media-breakpoint-up(md) { 
      width: 50%;
      padding-left: 2em;
    }
  }
  .information-panel__image {
    
    min-height: 290px;
    margin-bottom: 1em;
    
    @include media-breakpoint-up(vsm) { 
      min-height: 340px;
    }
    
    @include media-breakpoint-up(md) { 
      min-height: auto;
      margin-bottom: 0;
    }
    
    .child-image--contain & {
      background-size: contain;
      background-position: top center;
      
        
      @include media-breakpoint-down(sm) { 
        width: auto;
      }
      @include media-breakpoint-up(md) {
        background-position: center center;
      }
    }
  }
}

.information-panel--plain_background {
  padding-top: 1em;
  padding-bottom: 1em;

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
  }

  .information-panel__heading {
    color: $teal-blue !important;
  }

  .information-panel__info {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .information-panel__image {
    margin-top: -1.5em;
    margin-bottom: -1em;
    position: relative;
    left: 1.5em;

    @include media-breakpoint-down(sm) {
      position: static;
      min-width: 600px;
      margin-left: -1.5em;
      margin-right: -1.5em;
      margin-bottom: 1em;
    }  
  }
}


//theming

//default theme (oneyou)
.information-panel__info {
    background: none;
}

.information-panel__heading {
  font-weight: normal;
  margin-bottom: 0.5em;
  font-family: $secondary-brand-font;
  
  em {
    font-style: normal;
    color: $black;
  }
  
  .marker {
    display: inline-block;
    line-height: 0.9em;
    border-bottom: 0.15em solid $black;
    font-family: $tertiary-brand-font;
    color: $teal-blue;
  }
}

.information-panel__text {
  color: $grey-brown-dark;

  a {
    color: $sunflower-yellow;
  }
}
  
.shelf .information-panel__heading {
  color: $grey-brown-dark;
}

//stoptober
.stoptober {
  .shelf .information-panel__heading {
    color: $black;
  }
}

//campaign
.campaign {
  
  .information-panel__heading {
    font-family: $primary-brand-font;
  }
  
  .shelf .information-panel__heading {
    color: $teal-blue;
  }
  
  .child-image--contain {
  
    .information-panel__image {
      
      width: 50%;
      
      @include media-breakpoint-down(sm) { 
        width: auto;
      }
    }
  }
}
