@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";


.oneyou1-teaser {
  display: flex;
  flex-direction: column;
}

.oneyou1-teaser__heading {
  text-transform: uppercase;
  font-weight: normal;
  font-family: $secondary-brand-font;
  margin-bottom: 0.5em;
}

.oneyou1-teaser__image {
  width: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  min-height: 160px;

  @include media-breakpoint-up(sm) {
    min-height: 180px;
  }
}

.oneyou1-teaser__text {
  padding: 1em 0 0;
}

// theming
.oneyou {

  .oneyou1-teaser__heading {
    color: $grey-brown-dark;
  }

  .oneyou1-teaser__text {
    color: $grey-brown-dark;
  }
  
  .oneyou1-teaser__cta-list {
    a {
      color: $teal-blue;
      font-weight: bold;
    }
  }
}
