@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";


.oneyou1-teaser {
  display: flex;
  flex-direction: column;
}

.oneyou1-teaser__heading {
  padding: 1em;
  width: 100%;
}

.oneyou1-teaser__image {
  width: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  min-height: 160px;

  @include media-breakpoint-up(sm) {
    min-height: 180px;
  }
}

.oneyou1-teaser__text {
  padding: 1em;
  width: 100%;

  p {
    margin-bottom: 1em;
  }

  a {
    margin-top: auto;
  }
}

// theming
.oneyou {

  .oneyou1-teaser__heading {
    background-color: $white;
    color: $grey-brown-dark;
  }

  .oneyou1-teaser__text {
    color: $grey-brown-dark;

    a {
      color: $teal-blue;
      font-weight: bold;
    }
  }
}
