@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.oneyou1-teaser {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.oneyou1-teaser__heading {
  text-transform: uppercase;
  font-weight: normal;
  font-family: $secondary-brand-font;
  margin-bottom: 0.5em;
}

.oneyou1-teaser__image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 160px;

  @include media-breakpoint-up(sm) {
    min-height: 220px;
  }
}

.oneyou1-teaser__text {
  padding: 1em 0 0;
}

.oneyou1-teaser .cta-list { 
  padding: 0.5em 1em;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.oneyou1-teaser__cta-list {
  
  @include media-breakpoint-up(sm) {
    margin-top: 1em;
  }
}

.oneyou1-teaser__cta-list a {
  color: $white;
  text-decoration: none;
  
  &:visited {
    color: $white   
  }
  
  &:hover {
    text-decoration: underline;
  }  
}

.oneyou1-teaser .cta-list__item {
  padding: 0.5em 0;
  border-bottom: 1px solid $white;
  
  &:last-child {
    border-bottom: 0;
  }
}

.oneyou1-teaser__cta-list .Collapsible__trigger {
  border: 1px solid $text-primary;
  display: block;
  padding: 0.8em;
  position: relative;
  margin-top: 0.6rem;  
  cursor: pointer;
  
  &.is-closed {
    
    &:before {
      @extend %icon-chevron-right;
      position: absolute;
      right: 0.5em;
      font-weight: bold;
      font-size: 1.2em;        
    }
  }
  
  &.is-open {
    
    &:before {
      @extend %icon-chevron-down;
      position: absolute;
      right: 0.5em;
      font-weight: bold;
      font-size: 1.2em
    }
  }
  
  h4 {
    font-weight: normal;
  }
}

// theming
.oneyou {

  .oneyou1-teaser__heading {
    color: $grey-brown-dark;
  }

  .oneyou1-teaser__text {
    color: $grey-brown-dark;
  }
  
  .oneyou1-teaser {
    .cta-list {
      background-color: $teal-blue;
    }
  }
  .oneyou1-teaser__cta-item {
    a {
      color: $teal-blue;
    }
  }
  
  .oneyou1-teaser__cta-list {
    a {
      color: $white;
    }
  }
}
