@import "../../assets/styles/variables/variables";
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.panel__placeholder {
  background-color: #e4e4e4;
  border: 1px solid #c8c8c8;
  padding: 12px;
  text-align: center;
  min-height: 200px;
}

.panel-section {
  padding: 0;

  &:nth-child(odd) {
    background: $light-grey;
  }
}

.shelf-section {

  .panel__button-list {
    display: flex;
    margin: 2em 0 0 0;
    padding: 0;
    list-style-type: none;
    
    li {
      width: 50%;
      height: 28px;
      
      @include media-breakpoint-up(sm) { 
        height: 40px;
      }
      
      @include media-breakpoint-up(md) { 
        height: 25px;
      }
      
      @include media-breakpoint-up(lg) { 
        height: 35px;
      }
      
      @include media-breakpoint-up(xl) { 
          height: 45px;
      }
      
      &:first-child {
        margin-right: 1em;
      }
    }
  }
}
