@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.recipe-teaser {
  display: flex; 
  flex: 1 1 auto;
}

.recipe-teaser__image {
  display: flex;
  position: relative;
  height: 145px;
  width: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  
  .recipe--contain & {
    background-size: contain;
    background-position: top left;
  }

  @include media-breakpoint-up(md) {
    min-height: 165px;
  }
  
  @include media-breakpoint-up(lg) {
    min-height: 220px;
  }
  
  &:after {
    width:100%;
    height:100%;
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    background-color: $grey-brown-dark;
    opacity: 0.6;
  }
}

.recipe-teaser__info {
  display: flex;
  margin-top: auto;
  align-items: center;
  height: 50%;
  flex: 1 1 auto;
  padding: 0 1em;
}

.recipe-teaser__heading {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: $white;
}