@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.share-button-panel {
  margin-left: 1em;
}

.share-button {
  background: $sunflower-yellow;
  border: 1px solid transparent;
  position: relative;
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block; 
  height: auto;
  cursor: pointer;
  
  .share-button__items {
    display: none;
  }
  
  &.share-button--reveal {
    background: $white;
    border: 1px solid $pink-grey;
    cursor: auto;
    
    .share-button__title  {
      display: none;
    }
    
    .share-button__items {
      display: block;
    }
  }
  
  .share-button__title {
    
    position: relative;
    padding-left: 40px;
    
    &:after {
      @extend %icon-share;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
    }  
  }

  
}

.shelf-section .share-button__items, 
.share-button__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  li {
    display: inline-block;
    margin-left: 1.5em;
    
    &:first-child {
      margin-left: 0;
    }
  }
  
  .share-button__whatsapp {
    
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
  
  a {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    color: transparent;
    
    &:after {
      position: absolute;
      color: $text-primary;
    }
  }
}

.share-button__facebook a {
  &:after {
    @extend %icon-facebook;
    font-size: 20px;
  }
}

.share-button__twitter a {
  &:after {
    @extend %icon-twitter;
    font-size: 20px;
  }
}

.share-button__email a {
  &:after {
    @extend %icon-email;
    font-size: 20px;
  }
}

.share-button__whatsapp a {
  &:after {
    @extend %icon-whatsapp;
    font-size: 20px;
  }
}
  