@import '../../assets/styles/variables/variables';
@import "../../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

.video-teaser__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.video-teaser__text {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  
  .cta-list {
    padding-top: 1em;
    margin-top: auto;
  }
}

.video-teaser__play-link {
   padding-top: 1em;
   display: block;
   margin-top: auto;
   text-decoration: underline;
   cursor: pointer;
}

/* mobile image left + desktop image left (defautl) */
.video-teaser {
  display: flex;
  height: 100%;
  flex: 1 1 auto;

  .video-teaser__info {
    display: flex;
    flex-direction: column;
  }

  &[class*="mobile-image-left"] {
    
    .video-teaser__image {
      width: 35%;
      min-height: 176px;
      
      @include media-breakpoint-up(sm) {
        min-height: 263px;
      }      
    }      
    
    .video-teaser__info {
      width: 65%;
    }
    
    .video-teaser__heading {
      background-color: $teal-dark;
      color: $white;
      padding: 1em;
    }
    
    .video-teaser__text {
      padding: 1em;
    }
  }
  
  &[class*="mobile-image-top"] {
    
    flex-direction: column;
    
    .video-teaser__info {
      padding: 1em 1em 0;
    }
    
    .video-teaser__heading {
      font-family: $secondary-brand-font;
      font-weight: normal;    
    }
    
    .video-teaser__image {
      min-height: 120px;
      height: 35%;
      width: 100%;
    }
  }
  
  &[class*="desktop-image-left"] {
  
    @include media-breakpoint-up(md) {
      flex-direction: row;
      
      .video-teaser__image {
        width: 35%;
        height: auto;
        min-height: 176px; 
        
        @include media-breakpoint-up(sm) {
          min-height: 263px;
        }  
      }
            
      .video-teaser__info {
        width: 65%;
        padding: 0;
      }
      
      .video-teaser__heading {
        padding: 1em;
        background-color: $teal-dark;
        font-family: inherit;
        font-weight: bold;
      }
      
      .video-teaser__text {
        padding: 1em;
      }
    }
  }
  
  &[class*="desktop-image-top"] {
    
    @include media-breakpoint-up(md) {
      flex-direction: column;
    }  
    
    @include media-breakpoint-up(lg) {
      .video-teaser__image {
          min-height: 263px;
      }
    }
  }
  
  &.video-play-link-false {
    .video-teaser__image {
      &:after {
        @extend %icon-play;
        position: absolute;
        text-align: center;
        pointer-events: none;
        width: 100%;
        top: 40%;
        font-size: 2.5em;
        z-index: 1;
        color: white;
      }
    }
  }
}

//theming

//default theme (oneyou)
.video-teaser {

  .video-teaser__info {
    background: $teal-blue;
  }

  .video-teaser__heading {
    color: $white;
  }

  .video-teaser__text {
    color: $white;

    a {
      color: $sunflower-yellow;
    }
  }
}

