@import '../../../assets/styles/variables/variables';

.cc-teaser {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .cc-teaser.h-100, .bs-teaser .h-100 {
    height: auto !important;
  }
}

.cc-teaser-image {
  min-height: 200px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.cc-teaser-heading {
  font-size: 1.5em;
  padding: 1em 1em 1em 1em;
}
.cc-teaser-text {
  font-size: 1.5em;
  padding: 1em 1em 1em 1em;
}
.cc-teaser-ctas {
  padding: 1em 1em 1em 1em;
}

.sexhealth {
  
  .cc-teaser-heading {
    
    h3 {
      font-family: $sexhealth-font;
      font-size: 1em;
      padding: 0;
    }
  }

  .cc-teaser-text {
    padding: 0.5em 1em;
  }

  .image-teaser--primary_background {
    .cc-teaser-heading {
      background-color: $black;
      color: $white;
    }

    .cc-teaser-body {
      background-color: $sexhealth-purple;
    }

    .cc-teaser-text {
      color: $white;
      background-color: transparent;
    }

    .cc-teaser-ctas {
      background-color: transparent;

      a {
        text-decoration: none;
        color: $sunflower-yellow;
      }
    }
  }
}

.multicolour {
  .cc-teaser {
    background-color: red;
  }

  .cc-teaser-image {
    background-color: orange;
  }

  .cc-teaser-body {
    background-color: green;
  }

  .cc-teaser-heading {
    background-color: yellow;
  }

  .cc-teaser-text {
    background-color: blue;
  }
  .cc-teaser-ctas {
    background-color: purple;
  }
}

