@import '../assets/styles/variables/variables';
@import "../../node_modules/bootstrap-4-grid/scss/grid/mixins/breakpoints";

$shelf-padding-standard: 1em;
$shelf-padding-extra: 2em;


.pure-modal-backdrop {
  
  .pure-modal .panel-heading .close {
    top: 15px;
    right: 15px;
    line-height: 30px;
    color: #000;
    background-color: #fff;
    opacity: 1;
  } 
      
  .pure-modal {
    width: 100%;
  }
  
  .panel-body {
    padding-right: 30px;  
    background: #000;
  }
  
  .pure-modal .panel-default {
    padding: 1em;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .video-js {
    height: 400px;
    width: 100%;
  }
}

